body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: blue;
}
.header {
  margin: 0;
  width: 100vw;
  height: 50px;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
  height: 98px;
  z-index: 1;
}
.logo {
  position: relative;
  left: 72px;
  top: 12px;
}
.logo h1 {
  color: #543ee0;
  position: absolute;
}

.nav__container {
  width: 805px;
  position: relative;
  left: 560px;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  top: 25px;
  gap: 2rem;
  position: relative;
  width: 293px;
}
.nav__links div {
  font-weight: 700;
  position: relative;
  top: 16px;
}
.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  width: 338px;
  position: relative;
  left: 337px;
}

.login__btn {
  height: 56px;
  width: 156px;
  border-radius: 5px;
  border: 1px solid #543ee0;
  background-color: #ffffff;
}
.signup__btn {
  height: 56px;
  width: 156px;
  border-radius: 5px;
  border: 1px solid #543ee0;
  background-color: #ffffff;
}

button:hover {
  background-color: #543ee0;
  cursor: pointer;
}
.main {
  padding-top: 85px;
}

.first__section {
  background: linear-gradient(rgba(14, 13, 13, 0.5), rgba(5, 5, 5, 0.5)),
    url("./background_pics/section_bg.png") center center no-repeat;
  height: 764px;
}
.first-section__text {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 170px;
  width: 984px;
}
.first-section__head {
  width: 584px;
  height: 100px;
}
.first-section__head h1 {
  font-size: 2rem;
}
.first-section__p1 {
  width: 420px;
  position: relative;
  right: 80px;
}
.first-section__p1 p {
  font-size: 1rem;
}
.first-section__btn {
  margin-top: 180px;
  margin-left: 200px;
}

.first-section__btn button {
  width: 157px;
  height: 56px;
  border-radius: 6px;
  color: #ffffff;
  border: 1px solid #543ee0;
  background-color: #543ee0;
}
.second__section {
  display: flex;
  flex-direction: row;
}

.text__div {
  width: 520px;
  margin-top: 90px;
  margin-left: 50px;
}
.text__div h1 {
  font-size: 2rem;
}
.image__div {
  position: relative;
  margin-top: 120px;
  background: url("./background_pics/sectiontwo.png") center center no-repeat;
  height: 304px;
  width: 400px;
  margin-left: 190px;
  border-radius: 5px;
}
.third__section {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}
.third__section h1 {
  font-size: 2rem;
}
.third__section p {
  width: 800px;
  height: 81px;
  line-height: 20px;
}
.sub-group__one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.sub-group__one img {
  width: 60px;
}
.analytics p {
  width: 204px;
}
.socials p {
  width: 204px;
}
.content__creation p {
  width: 204px;
}
.fourth__section {
  height: 492px;
  background-color: #ffedcc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.fourth__section img {
  border-radius: 50%;
  width: 180px;
}
.quotes {
  position: relative;
  left: 30px;
  width: 800px;
}
.quotes p {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 50px;
}
.quotes p span {
  font-size: small;
  font-weight: normal;
}
.quotes button {
  width: 157px;
  height: 56px;
  border-radius: 6px;
  color: #ffffff;
  border: 1px solid #543ee0;
  background-color: #543ee0;
  margin-left: 40px;
}
.fifth__section {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.multiple__imgs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 300px;
  margin-left: 80px;
}
.multiple__imgs img {
  width: 150px;
  border-radius: 50%;
}
.multiple__imgs .center__img {
  margin-left: 150px;
}
.fifth-section__text {
  margin-left: 100px;
  max-width: 600px;
}
.fifth-section__text h2 {
  width: 290px;
  font-size: 1.5rem;
}
.fifth-section__text p {
  width: 500px;
}
.fifth-section__text button {
  width: 157px;
  height: 56px;
  border-radius: 6px;
  color: #ffffff;
  border: 1px solid #543ee0;
  background-color: #543ee0;
}
footer {
  height: 302px;
  background-color: #ffedcc;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  padding-top: 80px;
}
.footer-content__text {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  margin-left: 300px;
}
.form__content {
  display: flex;
  flex-direction: row;
}

.sign__img img {
  height: 100vh;
  width: 602px;
}
.registration-form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 150px auto;
}
.name {
  display: flex;
  flex-direction: row;
  gap: 6rem;
}
.fname,
.secname {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.name-input {
  width: 205px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  outline: none;
  margin-bottom: 20px;
}
.form h1,
.registration-form h1 {
  margin: 0 auto;
}
.form form,
.registration-form form {
  display: flex;
  flex-direction: column;
}
.form-label {
  margin-bottom: 13px;
}
.form-input {
  height: 36px;
  width: 520px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid #ced4da;
  outline: none;
}
.form-submit {
  height: 36px;
  cursor: pointer;
  background-color: #543ee0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #ffffff;
}
.content-header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 260px;
}
.form-search {
  margin-left: 40px;
  width: 300px;
  height: 40px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
}
.banner img {
  width: 48px;
  border-radius: 50%;
  margin-left: 300px;
}
.post-logo h1 {
  margin-left: 50px;
  text-transform: uppercase;
  color: #543ee0;
}
.post {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  height: 300px;
  width: 800px;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 680px;
  margin-top: 50px;
}
.btn {
  width: 130px;
  height: 45px;
  color: #ffffff;
  background-color: #543ee0;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.logout-link{
  display: flex;
  margin-left: 70px;
}
.logout-link a{
  text-decoration: none;
  color: red;
}
.title{
  border: none;
  margin-left: 250px;
  margin-bottom: 40px;
  outline: none;
}
.media{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px auto;
  border: 2px solid #ced4da;
  width: 700px;
}
.media img{
  width: 65px;
  border-radius: 50%;
}
.article-meta{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  
}
.media-body{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.content-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.delup-btns {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.delup-btns input{
  cursor: pointer;
}
.nav__link{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
h3{
  color: rgb(11, 103, 184);
}