{%extends 'layout.html'%} {%block content%}
<header class="header">
  <div class="logo">
    <h1>Flaskblog</h1>
  </div>
  <div class="nav__container">
    <div class="nav__links">
      <div>
        <a href="{{url_for('home')}}">Home</a>
      </div>
      <div>
        <a href="#about">About us</a>
      </div>
      <div>
        <a href="#footer">Contact</a>
      </div>
      <div><a href="{{url_for('blogs')}}">Blogs</a></div>
    </div>
    <div class="btns">
      <form action="{{url_for('login')}}">
        <button class="signup__btn" >
          Log in
        </button>
      </form>

      <form action="{{url_for('register')}}">
        <button class="signup__btn" >
          Sign up
        </button>
      </form>
    </div>
  </div>
</header>
<main class="main">
  <section class="first__section">
    <div class="first-section__text">
      <div class="first-section__head">
        <h1>Welcome to Chatter: A Haven for Text-Based Content</h1>
      </div>
      <div class="first-section__p1">
        <p>
          Unleash the Power of Words, Connect with Like-minded Readers and
          Writers
        </p>
      </div>
    </div>
    <div class="first-section__btn">
      <button>Get started</button>
    </div>
  </section>
  <section class="second__section" id="about">
    <div class="text__div">
      <h1>About Chatter</h1>
      <p>
        Chatter is a multi-functional platform where authors and readers can
        have access to their own content. It aims to be a traditional bookworm’s
        heaven and a blog to get access to more text based content. Our vision
        is to foster an inclusive and vibrant community where diversity is
        celebrated. We encourage open-mindedness and respect for all
        individuals, regardless of their backgrounds or beliefs. By promoting
        dialogue and understanding, we strive
      </p>
    </div>
    <div class="image__div"></div>
  </section>
  <section class="third__section">
    <h1>Why you should join chatter</h1>
    <p>
      Our goal is to make writers and readers see our platform as their next
      heaven for blogging, ensuring ease in interactions, connecting with
      like-minded peers, have access to favorite content based on interests and
      able to communicate your great ideas with people
    </p>
    <div class="sub-group__one">
      <div class="analytics">
        <img
          src="{{url_for('static', filename='background_pics/analytics.png')}}"
          alt=""
        />
        <h4>Analytics</h4>
        <p>
          Analytics to track the number of views, likes and comment and also
          analyze the performance of your articles over a period of time
        </p>
      </div>
      <div class="socials">
        <img
          src="{{url_for('static', filename='background_pics/socials.png')}}"
          alt=""
        />
        <h4>Social interactions</h4>
        <p>
          Users on the platform can interact with posts they like, comment and
          engage in discussions
        </p>
      </div>
      <div class="content__creation">
        <img
          src="{{url_for('static', filename='background_pics/contacts.png')}}"
          alt=""
        />
        <h4>Content creation</h4>
        <p>
          Write nice and appealing with our in-built markdown, a rich text
          editor
        </p>
      </div>
    </div>
  </section>
  <section class="fourth__section">
    <div class="testimonials">
      <img
        src="{{url_for('static', filename='background_pics/black.png')}}"
        alt=""
      />
    </div>
    <div class="quotes">
      <blockquote>
        <article>
          "Chatter has become an integral part of my online experience. As a
          user of this incredible blogging platform, I have discovered a vibrant
          community of individuals who are passionate about sharing their ideas
          and engaging in thoughtful discussions.”
        </article>
      </blockquote>
      <p>Adebobola Muhydeen, <span> Software developer at Apple</span></p>
      <button>Join chatter</button>
    </div>
  </section>
  <section class="fifth__section">
    <div class="multiple__imgs">
      <img
        src="{{url_for('static', filename='background_pics/checked.png')}}"
        alt=""
      />
      <img
        class="center__img"
        src="{{url_for('static', filename='background_pics/grey.png')}}"
        alt=""
      />
      <img
        src="{{url_for('static', filename='background_pics/specs.png')}}"
        alt=""
      />
    </div>
    <div class="fifth-section__text">
      <h2>Write, read and connect with great minds on chatter</h2>
      <p>
        Share people your great ideas, and also read write-ups based on your
        interests. connect with people of same interests and goals
      </p>
      <button>Get started</button>
    </div>
  </section>
</main>
<footer>
  <div class="logo">
    <h1>Flaskblog</h1>
  </div>
  <div class="footer-content__text" id="footer">
    <div>
      <h2>Explore</h2>

      <p>Community</p>
      <p>Trending blogs</p>
      <p>Chatter for teams</p>
    </div>
    <div>
      <h2>Support</h2>

      <p>+254674884663</p>
      <p>info@chatter</p>
      <p>chatter.co.ke</p>
    </div>
    <div>
      <h2>Official blog</h2>

      <p>Official blog</p>
      <p>Engineering blog</p>
    </div>
  </div>
</footer>
{% endblock %}
